* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background: #222;
}
.wrapper-calendar {
  height: 100vh;
  padding: 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
